
<div data-controller="calendly">
    <!-- Widget do selo do Calendly - início -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/victor_barbosa/30min?primary_color=1a7f5f', text: 'Schedule a call with me! ', color: '#1a7f5f', textColor: '#ffffff', branding: true }); }</script>
  <!-- Widget do selo do Calendly - fim -->
</div>
