<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/OSuricato"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/victorsbarbosa/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/victorbarbosa.tech"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa-solid fa-bolt"></i> by Suricato
  </div>
</div>
