.footer {
  background: #eae6e5;
  color: green;
  background-color: #8F8073;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.custom-shape-divider-bottom-1695755278 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1695755278 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 52px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1695755278 .shape-fill {
  fill: #8F8073;
}
