.navbar {
  z-index: 9999;
  position: sticky;
  background-color: #000000;
  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}

.navbar-brand img {
  width: 64px;
}

.show {
  background-color: black;
  a {
    &:hover {
      color: #000000;
    }
  }
}


@media (max-width: 991px) {
  .sidebar {
    backdrop-filter: blur(10px);
  }
}

.navbar-toggler-icon {
  background-color: #eae6e5;
}

.navbar-toggler {
  background-color: #eae6e5;
}

.btn-close {
  background-color: #eae6e5;
}

.custom-shape-divider-top-1695754255 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1695754255 svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 38px;
}

.custom-shape-divider-top-1695754255 .shape-fill {
  fill: #1A7F5F;
}

@media (max-width: 991px) {
  .custom-shape-divider-top-1695754255 {

  }

}

.divider {
  margin-bottom: 24px;
}
